.navbarTop {
  position: absolute;
  top: 2.5dvh;
  left: 50%;
  transform: translateX(-50%);
  width: 105dvw;
  aspect-ratio: 16 / 9;
  height: auto;
}

@media (min-width: 1024px) {
  .navbarTop {
    aspect-ratio: unset;
    top: 0;
    width: 70dvw;
    max-height: 55dvh;
  }
}
@media (min-width: 1440px) {
  .navbarTop {
    width: 75dvw;
  }
}