.root {
  display: flex;
  border-bottom: 1px solid var(--glowing-border);
  padding: 12px;
  gap: 8px;
  background-color: var(--item-bg);
}

.icon {
  width: 16px;
  height: 16px;
  color: var(--glowing-border);
}

.input {
  background-color: transparent;
  border: none;
  color: var(--text);
}

.input::placeholder {
  color: var(--columbia-blue);
}