.sharedStyles {
  display: flex;
  padding: 8px 16px;
  gap: 8px;
  background-color: var(--item-bg);
  border-radius: 8px;
  font-size: 13.33px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  color: var(--text);
  width: 100%;
  cursor: pointer;
}

.externalLink {
  border: 4px solid var(--glowing-border);
  border-top: 0;
  border-bottom: 0;
}

.internalLink {
  border: 4px solid var(--glowing-border);
  border-top: 1px solid var(--glowing-border);
  border-bottom: 1px solid var(--glowing-border);
}

.outlineButton {
  border: 1px solid var(--glowing-border);
  color: var(--glowing-border);
  background-color: var(--container-bg);
}

.button {
  border-left: 4px solid var(--glowing-border);
}

.smallTecnology {
  background-color: #111111;
  border: 1px solid var(--glowing-border);
  color: var(--glowing-border);
  width: max-content;
  padding: 4px 8px;
}