.icon {
  width: 16px;
  height: 16px;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 1;
}

.rightIcons {
  display: none;
  gap: 16px;
  position: absolute;
  top: 16px;
  right: 16px;
}

@media (min-width: 1024px) {
  .rightIcons {
    display: flex;
  }
}

@media (min-width: 1280px) {
  .rightIcons {
    top: 24px;
    right: 24px;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1440px) {
  .rightIcons {
    top: 32px;
    right: 32px;
  }
}