.titleRootPos {
  position: absolute;
  top: 8dvh;
  left: 50%;
  transform: translateX(-50%);
}

.titleRoot {
  position: relative;
  width: max-content;
  padding: 16px;
}

.title {
  color: var(--electric-blue);
}

.titleContainer {
  background-color: var(--picton-blue);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 32%;
  width: 90%;
  height: 50%;
}

.corner {
  position: absolute;
}

.corner0 {
  top: 6px;
  left: 6px;
}

.corner1 {
  top: 6px;
  right: 6px;
  transform: scaleX(-1);
}

.corner2 {
  transform: scaleY(-1);
  bottom: 6px;
  left: 6px;
}

.corner3 {
  bottom: 6px;
  right: 6px;
  transform: scale(-1, -1);
}

@media (min-width: 1024px) {
  .titleRootPos {
    top: 10dvh;
  }
}

@media (min-width: 1440px) {
  .titleRootPos {
    top: 12dvh;
  }
}