.content {
  top: 100%;
  right: 0;
  background: #081c3f;
  border: 2px solid #00f0ff;
  border-radius: 10px;
  box-shadow: 0 0 15px #00f0ff;
  padding: 10px;
  z-index: 1000;
  min-width: 200px;
}

.itemRoot {
  display: flex;
  justify-content: space-between;
}

.country {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
}