:root {
  --background: #1033AD;
  --text: #ffffff;
  --foreground: #171717;
  --border: #27AEF4;
  --active-border: #3CE5FC;
  --icon-background: #0A41CB;
  --picton-blue: #27AEF4;
  --electric-blue: #3CE5FC;
  --glowing-border: #00F0FF;
  --container-bg: #0A0F1A;
  --item-bg: #081C3F;
  
  --font-3xl: 2.488125rem;
  --font-2xl: 2.07375rem;
  --font-xl: 1.728125rem;
  --font-lg: 1.44rem;
  --font-md: 1.2rem;
  --font-default: 1rem;
  --font-sm: 0.833125rem;
  --font-xs: 0.694375rem;
  --font-2xs: 0.57875rem;
}

[data-theme="dark"] {
  --background: #1033AD;
  --text: #ffffff;
  --foreground: #ededed;
  --border: #27AEF4;
  --active-border: #3CE5FC;
  --icon-background: #0A41CB;
  --picton-blue: #27AEF4;
  --electron-blue: #3CE5FC;
  --glowing-border: #00F0FF;
  --container-bg: #0A0F1A;
  --item-bg: #081C3F;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, var(--background), #000000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100dvw;
  min-height: 100dvh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 1024px) {
  body {
    max-height: 100dvh;
  }
}