.page {
  display: flex;
  flex-direction: column;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100dvw;
  min-height: 100dvh;
  align-items: center;
}

.aboutMeRoot {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.devStatus {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.devStatusLine {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pageButtons {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.mobileHide {
  display: none;
}

.aboutMeTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--glowing-border)
}

.rank {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: var(--container-bg);
  border-radius: 50%;
  border: 2px solid var(--glowing-border);
}

.aboutMeTopRight {
  display: flex;
  gap: 12px;
  align-items: center;
}

@media (min-width: 1024px) {
  .page {
    max-height: 100dvh;
    padding: 0px 15%;
    justify-content: center;
    margin-top: 48px;
  }
  .pageButtons {
    flex-direction: row;
    gap: 32px;
  }
  .mobileHide {
    display: flex;
  }
  .devStatusLine {
    flex-direction: row;
    gap: 16px;
  }
}

@media (min-width: 1280px) {
  .page {
    margin-top: 24px;
  }
  .myImage {
    display: block;
    max-width: 40%;
  }
}

@media (min-width: 1440px) {
  .page {
    padding: 0px 27%;
  }
}