.title {
  font-family: var(--font-audiowide);
  font-size: 28px;
  color: var(--text);
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1024px) {
  .title {
    top: 4px;
    font-size: 32px;
  }
}

@media (min-width: 1280px) {
  .title {
    top: 0;
    font-size: 48px;
  }
}

@media (min-width: 1440px) {
  .title {
    top: 16px;
  }
}